/*header styles*/
#site-header{
    background-color:#0A2342;
}
#site-title{
     color:white;
}
/*nav styles*/
nav .page-link{
    color:white;
}


/*footer styles*/
footer{
    background-color:#0A2342; 
}
.footer-heading{
    color:white;
}
footer a, footer span.username{
    color:#2CA58D;
}
footer .icon--github #github-icon{
    color:#FFFFFF;
}

